.field {
    display: grid;
    
    grid-template-columns: 64px 64px 64px;
    grid-template-rows: 64px 64px 64px;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    justify-content: center;
    background-color: black;
    padding: 4px;
    width: 200px;
    height: 200px;
}

div.quadrant {
    display: grid;
    grid-template-columns: 20px 20px 20px;
    grid-template-rows: 20px 20px 20px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-content: center;

    border: 1px black;
}

div.element {
    text-align: center;
    vertical-align: middle;
    background-color: white;
    width: 20px;
    height: 20px;
}
div.highlight {
    box-shadow: inset 0px 0px 1px 1px darkmagenta;
}